body {
  font-family: "Rubik Mono One";
  color: #ffff33;
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.hero {
  color: #ffff33;
  font-size: 30px;
}
.tag {
  margin-top: 120px;
  font-size: 15px;
}
.tag2 {
  margin-top: 15px;
  font-size: 15px;
}
.tag3 {
  margin-top: 15px;
  font-size: 15px;
}
.tag-info {
  color: #e62e00;
  font-size: 25px;
}
.add-text {
  margin-top: 30px;
  color: #e62e00;
  font-size: 20px;
}
.add {
  color: #ffff33;
  font-size: 25px;
}
.donat {
  margin-top: 50px;
  color: #ffff33;
}

.donat-button {
  border-radius: 20px;
}
