body {
  font-family: "Rubik Mono One";
  color: #ffff33;
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.hero {
  color: #ffff33;
  font-size: 35px;
}
.tag {
  margin-top: 15px;
  font-size: 15px;
}
.tag-info {
  color: #e62e00;
  font-size: 20px;
}
.add-text {
  margin-top: 25px;
  color: #e62e00;
  font-size: 20px;
}
.add {
  color: #ffff33;
}
.donat {
  margin-top: 50px;
  color: #1a1aff;
}

.donat-button {
}
